$primary: #6d5dfc;
$primaryLight: #8abdff;
$primaryDark: #5b0eeb;

$greyLight: #E4EBF5;
$greyLight2: #c8d0e7;
$greyLight3: #bec8e4;
$greyDark: #9baacf;
$greyDark2: #4e4c4c;
$white: #FFFFFF;

$shadow: .3rem .3rem .6rem $greyLight2, -.2rem -.2rem .5rem $white;
$innerShadow: inset .2rem .2rem .5rem $greyLight2, inset -.2rem -.2rem .5rem $white;
