$primary: #6d5dfc;
$primaryLight: #8abdff;
$primaryDark: #5b0eeb;

$greyLight: #E4EBF5;
$greyLight2: #c8d0e7;
$greyLight3: #bec8e4;
$greyDark: #9baacf;
$greyDark2: #4e4c4c;
$white: #FFFFFF;

$shadow: 0.2rem 0.2rem 0.5rem #c8d0e7;
$innerShadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
